*.rds
tests/*.rds
tests/*/*.rds
tests/*/*/*.rds
tests/*.csv
tests/*/*.csv
tests/*/*/*.csv
**DS_Store**
**Rcheck**
**tar.gz
**Rapp.history
**.pdf
**.RData
**.o
**.so
forLater/josh/**
*/R/RcppExports.R
*/src/RcppExports.cpp
*~
*/*~
*/*/*~
# this code is copied from C-software
selectiveInference/src/matrixcomps.*
selectiveInference/src/debias.*
selectiveInference/src/randomized_lasso.*
selectiveInference/src/quadratic_program*
selectiveInference/src/selective_mle*