export(lar,
       larInf,
       coef.lar,
       predict.lar,
       plot.lar,
       print.lar,
       print.larInf,
       fixedLassoInf,
       print.fixedLassoInf,
       forwardStep,
       forwardStop,
       aicStop,
       print.forwardStep,
       forwardStepInf,print.forwardStepInf,manyMeans,print.manyMeans,estimateSigma,
       poly.pval,poly.int,tnorm.surv)
useDynLib("selectiveInference")
import(MASS)
import(glmnet)



